<div class="jumbotron center">
    <h1>About Me</h1>
    <div class="container" id="profiles-div">
      <%= image_tag('av-image.jpg', id: 'matt-image') %>
      <div id="about-me">
        <p>A full-stack developer with a passion for building creative, accessible, responsive web applications.
            Looking to bring my detail-oriented approach to collaborate with smart people to help solve hard problems.</p>
        <p>Languages: JavaScript, Ruby, HTML5, CSS</p>
        <p>Frameworks: Rails, Angular, Node.js, Express</p>
        <p>Databases: RethinkDB, MongoDB, PostgreSQL</p>
        <p>Technologies: AJAX, Bootstrap, Heroku, Git, JQuery, BCrypt, Rspec</p>
      </div>
    </div>
</div>
