<% provide(:title, "About") %>
<div class="jumbotron center">
    <h1>About Me</h1>
    <div class="container" id="profiles-div">
      <h4>My Development/Education Profiles:</h4>
      <br/>
      <ul id="profiles">
          <li id="github"><%= link_to image_tag("github-logo.png",
                      alt: "GitHub Profile", class: "profile-image"), 'https://github.com/mcarter78', target: '_blank' %>
          <span class="website-thumbnail-caption">GitHub</span></li>            
          <li id="treehouse"><%= link_to image_tag("treehouse-logo.png",
                      alt: "Treehouse Profile", class: "profile-image"), 'https://teamtreehouse.com/mattcarter2', target: '_blank' %>
          <span class="website-thumbnail-caption">Treehouse</span></li>
          <li id="codecademy"><%= link_to image_tag("codecademy-logo.png",
                      alt: "Codecademy Profile", class: "profile-image"), 'https://www.codecademy.com/_mcarter78', target: '_blank' %>
          <span class="website-thumbnail-caption">Codecademy</span>
          </li>
      </ul>
    </div>
</div>

