<% provide(:title, "Contact") %>
<div class="jumbotron center">
  <h1>Contact Me</h1>
  <div class="container" id="contact-div">
    <h4>My contact info:</h4>
    <br/>
    <ul id="contact">
      <li id="email"><%= link_to image_tag("email-logo.png",
                      alt: "Email link", class: "contact-image"), 'mailto:sjsharksftw@gmail.com' %>
                      <span class="website-thumbnail-caption">Email Me</span>
                      </li>
      <li id="linkedin"><%= link_to image_tag("linkedin-logo.png",
                      alt: "Linkedin Profile", class: "contact-image"), 'https://www.linkedin.com/pub/matt-carter/13/b88/a11', target: '_blank' %>
                      <span class="website-thumbnail-caption">Linkedin</span>
                      </li>
      <li id="twitter"><%= link_to image_tag("twitter-logo.png",
                      alt: "Twitter Profile", class: "contact-image"), 'https://twitter.com/_mcarter', target: '_blank' %>
                      <span class="website-thumbnail-caption">Twitter</span>
                      </li>
      <li id="facebook"><%= link_to image_tag("facebook-logo.png",
                      alt: "Facebook Profile", class: "contact-image"), 'https://www.facebook.com/matt.carter.9847', target: '_blank' %>
                      <span class="website-thumbnail-caption">Facebook</span>
                      </li>
    </ul>
  </div>
</div>
