<% provide(:title, "Contact") %>
<div class="center">
    <h1>Contact Me</h1>
    <p>This is the page with my contact info, including:</p>
    <ul>
        <li>email</li>
        <li>twitter</li>
        <li>linkedin</li>
        <li>facebook</li>
    </ul>
</div>
