<% provide(:title, "Home") %>
<div class="container center" id="websites-div">
  <h4>My Websites:</h4>
  <br/>
  <ul>
    <li><%= link_to image_tag('snip-personal.png', alt: "Matt's Personal Website", class: "website-thumbnail"), '#' %></li>
  </ul>
</div>
    

    


