<% provide(:title, "Home") %>
<h1>Matt Carter</h1>
<p>Here is the homepage of my website, includes:</p>
<ul>
    <li>website(s)</li>
    <li>github</li>
    <li>treehouse profile</li>
    <li>codecademy profile</li>
</ul>
