<% provide(:title, "Home") %>

<div class="jumbotron center" id="developer">
  <h3>Front End Web Engineer.</h3>
</div>

<div class="jumbotron center" id="portfolio">
  
  <h3>Click For Portfolio</h3>
  <%= image_tag("menu-up.png", id: "menu-up", alt: "Menu Up") %>
  
</div>

<div class="jumbotron center row" id="websites-div">
  <h1>Portfolio</h1>
  <br/>
  <h4>My Websites:</h4>
  <br/>
  <ul>
    <li><%= link_to image_tag('snip-personal.png', alt: "Matt's Personal Website", class: "website-thumbnail"), 'https://vast-depths-1508.herokuapp.com/', target: '_blank' %>
    <span class="website-thumbnail-caption">Personal Website</span>
    </li>
    <li><%= link_to image_tag('snip-ninjastar.png', alt: "Ninja Star Comic", class: "website-thumbnail"), 'https://shrouded-peak-2980.herokuapp.com/', target: '_blank' %>
    <span class="website-thumbnail-caption">Ninja Star Comic</span>
    </li>
    <li><%= link_to image_tag('snip-student.png', alt: "Student Rails Project Website", class: "website-thumbnail"), 'https://gentle-reef-9099.herokuapp.com/', target: '_blank' %>
    <span class="website-thumbnail-caption">Student Rails Project</span>
    </li>
  </ul>
</div>
    

    


