@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body, html {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

li {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
  list-style: none;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  color: #fff;

}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #fff;
  letter-spacing: 0.5px;
}

a {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
}

.jumbotron {
  margin-top: 80px;
  color: #000;
  width: 100%;
  margin: 0;
}

#websites-div *,
#profiles-div * {
  color: #000;
}

#main-content {
  height: inherit;
}

#title {
  font-size: 3.5em;
  text-shadow: 2px 2px 2px black;
}

ul {
  margin: 0;
  padding: 0;
}

/* header */

.navbar {
    border-bottom: 2px solid rgb(153, 204, 255);
    padding: 5px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-size: 2.5em;
  text-shadow: 2px 2px 2px black;
}

#logo:hover, #logo:active, #logo:visited {
  color: #fff;
  text-decoration: none;
}

.navbar-right li a {
    color: #000;
    padding: 5px 5px;
}

.navbar-right li {
    padding: 1px 1px;
}

.navbar-right li.btn {
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
}


.navbar-right li.btn a:hover,
  .navbar-right li.btn a:before,
  .navbar-right li.btn a:active,
  .navbar-right li.btn a:after,
  .navbar-right li.btn a:focus {
  background-color: #fdfdfd;
}

i.fa {
  color: #fff;
  float: left;
  font-size: 1.7em;
  text-shadow: 0px 1px 3px #000;
  margin-top: 25px;
  margin-right: 15px;
}


/* Footer */


footer p {
  margin-left: 10px;
  margin-top: 10px;
  color: #ebebeb;
  font-size: 0.7em;
  border: none;
}

/* Home Content */


#profiles, #contact {
  text-align: center;
}

.contact-image {
  height: 60px;
}

.profile-image {
  height: 60px;
}

#profiles li, #contact li {
  display: inline-block;
  padding: 10px;
}

.website-thumbnail {

}

#menu-up {
  height: 20px;
}

#portfolio {
  background: none;
  padding-top: 60px;
  margin-top: 0;
}

#developer {
  background: none;
  padding-top: 200px;
}

#websites-div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#websites-div ul li {
  width: 100%;
  text-align: left;
}

#websites-div ul li a img {
  width: 60%;
  float: left;
  clear: left;
  margin-top: 40px;
}

#websites-div ul li a i {
  margin: 0;
  float: right;
  text-shadow: none;
}

#websites-div ul li p {
  float: left;
  width: 60%;
  font-size: 1.2em;
}

.website-thumbnail-caption {
  font-size: 1.5em;
  padding-top: 5px;
  display: block;
  float: left;
  width: 50%;
  text-decoration: underline;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}

#down {
  position: absolute;
  bottom: 20px;
  font-size: 4.5em;
}

#matt-image {
  width: 20%;
  border-radius: 50%;
  float: left;
}

#about-me {
  text-align: left;
  float: left;
  width: 60%;
  margin-top: 30px;
  margin-left: 30px;
}

#about-me p {
  font-size: 1.2em;
}

/* Media Queries */


@media screen and (max-width: 768px) {
  #main-content {
    padding-top: 80px;
  }
  #logo.btn {
    clear:both;
    padding-bottom: 10px;
  }
  .navbar-right li.btn {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 5px;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px) {
  #developer, #portfolio {
    background-color: #4c4c4c;
  }
  #developer h3, #portfolio h3 {
    padding: 10px;
  }
  #portfolio {
    padding-top: 20px;
  }
  #main-content {
    padding-top: 80px;
  }
  #logo.btn {
    clear:both;
    padding-bottom: 10px;
  }
  .navbar-right li.btn {
    display: block;
    width: 100%;
    clear: both;
  }
  #developer, #portfolio {
    padding: 0;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 600px)
and (orientation: portrait) {
  body {
  background-image: url('background-sm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }

}
